/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(9, 121, 90, 1) 100%, rgba(9, 121, 90, 1) 100%);
}

h1,
h2,
h3 {
    color: #333;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
    margin-top: 1.5em;
}

h3 {
    font-size: 1.5em;
    margin-top: 1em;
}

p {
    margin-bottom: 1em;
}

ul,
ol {
    margin-bottom: 1em;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: 0.5px solid #ccc;
    margin: 1em 0;
}

footer {
    margin-top: 2em;
    text-align: center;
    color: black;
}

body {
    padding: 20px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(9, 121, 90, 1) 100%, rgba(9, 121, 90, 1) 100%);
}

header {
    padding: 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 2em;
}

p a {
    color:black;
}



#summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.summary-text {
    text-align: center;
}

.summary-text h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.highlight {
    font-weight: bold;
    font-size: 1.2em;
    color: black;
}

.summary-text p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 0;
}

#skills {
    margin-bottom: 2em;
}

.skill-category {
    margin-bottom: 1em;
}

.skill-category ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.skill-category ul li {
    margin-right: 1em;
}